<app-navbar></app-navbar>
<div class="container" style="margin-top: 30px;">
    <div class="row">
    <div class="col-6">
    <div id="full-calendar"></div> </div>
    <div class="col-6 text-center" >
         
             <div class="card-body text-center" style="margin-top: 20px;">
                                <p><img class=" img-thumbnail" src="../../assets/profilephoto.jpeg" alt="card image"></p>
                                <h3 class="card-title">Hoşgeldiniz!</h3>
                                <p class="card-text">Günlük Randevularınızı Kontrol Ediniz.</p>
                               
             </div>
         
        
    </div>  
</div>  
</div>

<br>
<app-footer></app-footer>
