<app-navbar></app-navbar>
<div class="container" *ngFor="let item of treatments" style="border:groove;">
  <div class="row">
    <div class="col-6">
      <div class="row forcolor">
        <h6 class="col-4">Akupunktur</h6>
        <div class="col-8">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="item.Vucut.ischecked"
                value="">{{item.Vucut.name}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="item.Kulak.ischecked"
                value="">{{item.Kulak.name}}
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <h6 class="col-4">Ozon Terapi</h6>
        <div class="col-8">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="item.Major.ischecked"
                value="">{{item.Major.name}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="item.Minor.ischecked"
                value="">{{item.Minor.name}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="item.Kasici.ischecked"
                value="">{{item.Kasici.name}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="item.Rektal.ischecked"
                value="">{{item.Rektal.name}}
            </label>
          </div>
        </div>
      </div>
      <div class="row forcolor">
        <h6 class="col-4">Hirudoterapi </h6>
        <div class="col-8">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="item.Hirudoterapi.ischecked"
                value="">{{item.Hirudoterapi.name}}
            </label>
          </div>
        </div>

      </div>
      <div class="row">
        <h6 class="col-4">Kupda Tedavisi</h6>
        <div class="col-8">
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="item.Kupakuru.ischecked"
                value="">{{item.Kupakuru.name}}
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" [(ngModel)]="item.Kupayas.ischecked"
                value="">{{item.Kupayas.name}}
            </label>
          </div>
        </div>
      </div>

    </div>
    <div class="col-3 date">
      <h5>Tarih seçiniz</h5>
      <div class="form-group row">
        <div class="col-12">
          <div class="input-group">
            <input class="form-control calendars" size="15" placeholder="YY-MM-DD" name="dp" [(ngModel)]="datetoadd"
              ngbDatepicker #st="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-secondary calendar" (click)="st.toggle()" type="button">
                <i class="far fa-calendar-alt"></i> </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="input-group">
        <ngb-timepicker [(ngModel)]="timetoadd"></ngb-timepicker>
      </div>
    </div>
    <div class="col-1">
    <button (click)="add()" class="btn btn-success addbutton">Ekle</button>
  </div>
  </div>
</div>
<div *ngFor="let data of sessions">
  <div class="container" *ngFor="let item of data.treatments" style="border:groove;">
    <div class="row">
      <div class="col-6">
        <div class="row forcolor">
          <h6 class="col-4">Akupunktur</h6>
          <div class="col-8">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="item.Vucut.ischecked"
                  value="">{{item.Vucut.name}}
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="item.Kulak.ischecked"
                  value="">{{item.Kulak.name}}
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <h6 class="col-4">Ozon Terapi</h6>
          <div class="col-8">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="item.Major.ischecked"
                  value="">{{item.Major.name}}
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="item.Minor.ischecked"
                  value="">{{item.Minor.name}}
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="item.Kasici.ischecked"
                  value="">{{item.Kasici.name}}
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="item.Rektal.ischecked"
                  value="">{{item.Rektal.name}}
              </label>
            </div>
          </div>
        </div>
        <div class="row forcolor">
          <h6 class="col-4">Hirudoterapi </h6>
          <div class="col-8">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="item.Hirudoterapi.ischecked"
                  value="">{{item.Hirudoterapi.name}}
              </label>
            </div>
          </div>

        </div>
        <div class="row">
          <h6 class="col-4">Kupda Tedavisi</h6>
          <div class="col-6">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="item.Kupakuru.ischecked"
                  value="">{{item.Kupakuru.name}}
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="item.Kupayas.ischecked"
                  value="">{{item.Kupayas.name}}
              </label>
            </div>
          </div>
        </div>

      </div>
      <div class="col-3 date">
        <h5>Tarih seçiniz</h5>
        <div class="form-group row">
          <div class="col-12">
            <div class="input-group">
              <input class="form-control calendars" size="15" placeholder="YY-MM-DD" name="dp" [(ngModel)]="data.ddate"
                ngbDatepicker #st="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-secondary calendar" (click)="st.toggle()" type="button">
                  <i class="far fa-calendar-alt"></i> </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="input-group">
          <ngb-timepicker [(ngModel)]="data.ttime"></ngb-timepicker>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>