
<app-navbar></app-navbar>

<div class="container">
        <table id="example" class="table table-striped">
            <thead class="table-success">
                <tr>
                    <th scope="col">Ad</th>
                    <th scope="col" >Soyad</th>
                    <th scope="col">Boy</th>
                    <th scope="col">Kilo</th>
                    <th scope="col">TC</th>
                    <th scope="col" >İş</th>
                    <th scope="col" >Yaş</th>
                    <th scope="col" >Cinsiyet</th>
                    <th scope="col" >Telefon</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of patients">
                    <td>
                        {{item.firstName}}
                    </td>
                    <td>
                        {{item.lastName}}
                    </td>
                    <td>
                        {{item.size}}
                    </td>
                    <td>
                        {{item.weight}}
                    </td>
                    <td>
                        {{item.tc}}
                    </td>
                    <td>
                        {{item.job}}
                    </td>
                    <td>
                        {{item.age}}
                    </td>
                    <td>
                        {{item.gender}}
                    </td>
                    <td>
                        {{item.phone}}
                    </td>
                   
                    <td>
                        <button class="btn btn-primary" routerLink="/patientupdate/{{item.id}}">Düzenle</button>
                    </td>
                    <td>
                        <button class="btn btn-success" routerLink="/sessionadd/{{item.id}}">Seans Ekle</button>
                    </td>
                </tr>
            </tbody>
        </table>

<div class="data-table row">
        <div class="page">
            <ngb-pagination id="pagination" [(page)]="page" [pageSize]="pageSize" [collectionSize]="items.length">
            </ngb-pagination> 
        </div>
    
        <div class="page">
    
    
            <select class="custom-select paging" [(ngModel)]="pageSize">
                <option selected>10</option>
                <option>20</option>
                <option>50</option>
            </select>
        </div>
    </div>
</div>

<app-footer></app-footer>
