/* You can add global styles to this file, and also import other style files */

.custom-class-example {
    color: #ccc;
}

.c-token {
    background: #38d574 !important;
}

.c-remove {
    top: 45% !important;
}

.c-angle-down {
    top: 45% !important;
}

.c-angle-up {
    top: 45% !important;
}

.c-btn{
    line-height: 0px;
}

.deneme .btn-link{
    display: none;
}

.deneme .form-control{
    height: 40px;
}